/* for hamburger */
.navbar-toggler-icon{
    background-image: url(../images/white-hamburger-menu-icon-24.jpg);
    width: 60px;
    height: 60px;
}
.navbar-toggler:focus{
    border: none;
    outline: none;
    box-shadow:none;
}
.navbar-toggler{
    border: none;
    outline: none;
}
/* for hamburger  ends*/

@media screen and (min-width: 1759px) {
    .main-banner{
        background-size: cover;
    }
    .second-section{
        margin-top: 0;
    }

}


/* reponsive styling start from here */

@media screen and (max-width: 1600px) {
 
.main-banner{
    background-size: cover;
}
.second-section{
    margin-top: 0;
}

  }

@media screen and (max-width: 1200px) {
 
.navbar-brand{
    width: 135px;
}
.navbar-nav .nav-item .nav-link {
    font-size: 13px;
}
.navbar-nav .nav-item .nav-link img{
    width: 15px;
}
  }

  @media screen and (max-width: 1000px) {
.games-section .row ,#myTabContent .tab-pane .row{
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.games-section .row div,#myTabContent .tab-pane .row div{
   width: 300px;
}

#Ipl_schedule div{
    width: 100% !important;
}

  }

  @media screen and (max-width: 992px) {
    #sticky_header .navbar-brand img {
        width: 100px;
        height: 56px;
        object-fit: cover;
    }
    .top-games-heading{
        width: 80%;
    }
    .full-width{
        flex-direction: column;
        gap: 20px;
    }
    .full-width div{
       width: 100%;
       text-align: center;
  
    }
    
    .full-width div.col-3 img{
        width: 300px !important;
    }
    .New-games .container .row div img{
        height: 200px;
    }
  }

  @media screen and (max-width: 750px) {
    .navigation-bottom{
        justify-content: center;
    }
    .footer-area .container .col-md-6{
        width: 100%;
    }
    .footer-area .container{
        max-width: 100%;
    }
    .Featured-Events .container p{
        width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
    .navigation-bottom{
        justify-content: center;
    }
    .full-width div.col-3 img{
        width: 60% !important;
    }
    .new-container form,.new-container h1,.new-container h5{
        width: 100%;
    }
    .main-banner{
        padding-top: 120px;
        background-position: right center;
    }
    .football-right-area {
        padding: 30px 0 30px 0;
    }
    .games-section .row div, #myTabContent .tab-pane .row div{

        width: 100%;
    }
    .absolute-back{
        width: 98% !important;
        left: 1%;
    }
  }
  @media screen and (max-width: 330px){
  .navbar-brand {
      width: 93px;
  }
}